body{
    font-family: sans-serif;
    margin: 0px;
    background-color: #ffffff;
    background-attachment: fixed;
}
header {
    color: #ffffff;
    text-align: center;
}
main {
    background-color: rgba(0, 0, 0, 0.096);

    width: 1000px;
    height: 600px;
    border-radius: 10px;
    margin: auto; 
}
div.texto_resposta {
    font-weight: bold;
    text-align: center;
    margin: auto;
    max-width: 320px;
    padding-top: 30px;
    padding-bottom: 30px;
}
div#imagem_resposta {
    max-width: 320px;
    margin: auto;
}
img.imagem_img {
    height: 320px;
    width: 320px;
    border-radius: 50%;
}
div.div_input {
    padding-left: 40px;
}
input#verificar {
    background-color: rgba(232, 231, 244, 0.655);
    border: none;
    padding: 5px;
}
.cr{
    text-align:center;
}